@charset "UTF-8";
.inner {
  width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}
.container {
  width: auto;
}
@media screen and (max-width: 600px) {
  .inner {
    width: auto;
    margin: 0;
    padding: 0 15px;
  }
}

@media screen and (min-width: 601px) {
  .inner {
    width: auto;
    margin: 0;
    padding: 0 15px;
  }
}
/* ヘッダー部分 */
header {
  width: 100%;
  height: 60px;
  background: #fff;
  position: fixed;
}
.header-inner {
  width: 960px;
  height: 100%;
  padding: 0 4%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  width: 120px;
  height: 40px;
  text-align: center;
}
.header-title > img {
  width: 100%;
}
nav {
  height: 22px;
}
.nav-list {
  height: 100%;
  display: flex;
}
.nav-item {
  height: 100%;
  margin: 0 30px 0 0;
  cursor: pointer;
}
.nav-item:last-child {
  margin: 0;
}
.nav-item:hover {
  opacity: .7;
}
.nav-item > a {
  height: 100%;
  display: flex;
  color: #24292E;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .header-inner {
    width: auto;
  }
}

@media screen and (min-width: 601px) {
  .header-inner {
    width: auto;
  }
}
/* ヘッダー部分 */

/* メインビジュアル部分 */
.mainvisual {
  width: 100%;
  margin: 0 0 80px;
  padding: 60px 0 0 0;
}
.mainvisual > img {
  width: 100%;
  aspect-ratio: 16 / 9;
}

@media screen and (max-width: 600px) {
  .mainvisual {
    width: 100%;
  }
  .mainvisual > img {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

@media screen and (min-width: 601px) {
  .mainvisual {
    width: 100%;
  }
  .mainvisual > img {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}
/* メインビジュアル部分 */

/* About部分 */
  .sec-about {
    text-align: center;
    margin: 0 auto 100px;
  }
  .section-title {
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto 70px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
  }
  .sec-contents {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0 auto;
  }
  .con-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .con-img > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
  .con-info {
    width: calc(100% - 100px - 30px);
    text-align: left;
  }
  .info-name {
    display: inline-block;
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: 600;
  }
  .info-text {
    font-weight: 300;
    line-height: 110%;
  }

@media screen and (max-width: 600px) {
  .sec-contents {
    display: block;
    width: 100%;
  }
  .con-img {
    margin: 0 auto 10px;
  }
  .con-info {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .sec-contents {
    display: block;
    width: 100%;
  }
  .con-img {
    margin: 0 auto 10px;
  }
  .con-info {
    width: 100%;
  }
}
/* About部分 */

/* bicycle部分 */
  .sec-bicycle {
    text-align: center;
    margin: 0 auto 110px;
  }
  .bicycle-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 110px;
  }
  .bicycle-item {
    width: calc(100% / 3 - 20px);
  }
  .bit-img {
    width: 100%;
    margin: 0 0 10px;
  }
  .bit-img > img {
    width: 100%;
    aspect-ratio: 16 / 10;
  }
  .bit-name {
    display: inline-block;
    margin: 0 0 10px;
    font-weight: 600;
  }
  .bit-text {
    font-weight: 300;
    font-size: 14px;
  }

@media screen and (max-width: 600px) {
  .bicycle-list {
    display: block;
  }
  .bicycle-item {
    width: 100%;
    margin: 0 0 30px;
  }
}

@media screen and (min-width: 601px) {
  .bicycle-list {
    display: block;
  }
  .bicycle-item {
    width: 100%;
    margin: 0 0 30px;
  }
}
/* bicycle部分 */

/* フッター部分 */
footer {
  width: 100%;
}
.footer-text {
  padding: 10px 0;
  font-weight: 300;
  align-items: center;
  text-align: center;
  font-size: 8px;
  background: #fff;
}
/* フッター部分 */