@charset "UTF-8";
.inner {
  width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}

/* ヘッダー部分 */
header {
  width: 100%;
  height: 60px;
  background: #fff;
  position: fixed;
}
.header-inner {
  width: 960px;
  height: 100%;
  padding: 0 4%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  width: 120px;
  height: 40px;
  text-align: center;
}
.header-title > img {
  width: 100%;
}
nav {
  height: 22px;
}
.nav-list {
  height: 100%;
  display: flex;
}
.nav-item {
  height: 100%;
  margin: 0 30px 0 0;
  cursor: pointer;
}
.nav-item:last-child {
  margin: 0;
}
.nav-item:hover {
  opacity: .7;
}
.nav-item > a {
  height: 100%;
  display: block;
  color: #24292E;
}
/* ヘッダー部分 */

/* メインビジュアル部分 */
.mainvisual {
  width: 100%;
}
.mainvisual > img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
/* メインビジュアル部分 */

/* About部分 */
.container {
  text-align: center;
  align-items: center;
}
.con-about {
  width: 100%;
  margin: 80px auto 0;
}
.container-name {
  font-size: 32px;
  display: inline;
  border-bottom: 2px solid #383E45;
}
.ab-content {
  width: 55%;
  height: 100px;
  display: flex;
  margin: 70px auto 100px;
}
.content-img {
  width: 100px;
  height: 100px;
  /* margin: 0 30px 0 0; */
}
.content-img > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.content-info {
  width: calc(100% - 100px - 30px);
  text-align: left;
  height: 100%;
  margin: 0 0 0 30px;
}
.info-name {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-weight: 600;
  margin: 0 0 10px;
}
.info-text {
  width: 100%;
  display: flex;
  font-weight: 300;
  height: 66px;
  justify-content: center;
  align-items: center;
}
/* About部分 */

/* bicycle部分 */
.con-bicycle {
  margin-bottom: 110px;
}
.bic-content {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 0;
}
.con1,
.con2,
.con3 {
  width: calc(100% / 3 - 17px);
}
.con1-img,
.con2-img,
.con3-img {
  width: 100%;
  margin: 0 0 10px;
}
.con1-img > img,
.con2-img > img,
.con3-img > img {
  width: 100%;
  aspect-ratio: 16 / 10;
}
.con-name {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-weight: 600;
  margin: 0 0 10px;
}
.con-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  font-weight: 300;
}
/* bicycle部分 */

/* フッター部分 */
footer {
  width: 100%;
}
.footer-text {
  padding: 10px 0;
  font-weight: 300;
  align-items: center;
  text-align: center;
  font-size: 8px;
  background: #fff;
}
/* フッター部分 */